body{

margin:0;

font-family:

Segoe UI;

background:

url("https://images.unsplash.com/photo-1474487548417-781cb71495f3");

background-size:cover;

height:100vh;

display:flex;

justify-content:center;

align-items:center;

}


.glass{

width:550px;

padding:40px;

border-radius:25px;

background:

rgba(255,255,255,.15);

backdrop-filter:

blur(20px);

color:white;

box-shadow:

0 10px 40px black;

}


input,select{

width:100%;

padding:15px;

margin-bottom:15px;

border:none;

border-radius:12px;

font-size:18px;

}


button{

width:100%;

padding:16px;

font-size:20px;

border:none;

border-radius:12px;

cursor:pointer;

background:

linear-gradient(

45deg,

#1565c0,

#42a5f5

);

color:white;

}


.trainCard{

margin-top:25px;

padding:20px;

border-radius:20px;

background:

rgba(255,255,255,.1);

animation:

fade .5s;

}


@keyframes fade{

from{

opacity:0;

transform:

translateY(20px);

}

to{

opacity:1;

}

}
